<h1>Dogs#index</h1>
<p>Find me in app/views/dogs/index.html.erb</p>

<% if !@dogs.empty? %>
    <% @dogs.each do |dog| %>
      <div>
        <p>breed: <%= dog.breed %> </p>
        <p>skill: <%= dog.skill %> </p>
        <p>age: <%= dog.age %> </p>
        <p>fee: <%= dog.fee %> </p>
      </div>
    <% end %>
<% else %>
  <h3> Dogs arrays is empty </h3>
<% end %>
