
.btn {
  display: inline-block;
  margin-top: 15px;
  align: center;
  background-color: #23a393;
  border-color: #23a393;
}

.btn:hover {
  background-color: #20716a;
  border-color: #20716a;
}

#show {
  margin-top: 50px;
  margin-right: 20px;
}
